<div class="container justify-content-center">
  <h1>Welcome to Game<%=@game.id%></h1>
</div>
<br>

<div id="gameId" data-game-id=<%= @game.id %>>
  </div>

  <div id="gameState" data-game-state=<%= @game.state %>>
  </div>

<h1 class="text-center">The Pawnshop</h1>

  <div id="gameinfo">
    <div id="currentUser" data-current-user-id=<%= current_user.id %>>
      <p>You are logged in as <%= current_user.name %></p>
    </div>
    <div id="whitePlayer" data-white-player-id=<%= @game.white_player_id %>>
      <p><%= @game.white_player.name %> is playing as white.</p>
    </div>
    <div id="blackPlayer" data-black-player-id=<%= @game.black_player_id %>>
      <p><%= @game.black_player.name %> is playing as black.</p>
    </div>
    <div id="gameEndMessages"> 
      <% if @game.checkmate?(true) %>
        <p><%= User.find(@game.black_player_id).name %> has checkmated <%= User.find(@game.white_player_id).name %>!</p>
      <% elsif @game.checkmate?(false) %>
        <p><%= User.find(@game.white_player_id).name %> has checkmated <%= User.find(@game.black_player_id).name %>!</p>
      <% elsif @game.stalemate?(true) %>
        <p><%= User.find(@game.white_player_id).name %> has been stalemated by <%= User.find(@game.black_player_id).name %>!</p>
      <% elsif @game.stalemate?(false) %>
        <p><%= User.find(@game.black_player_id).name %> has been stalemated by <%= User.find(@game.white_player_id).name %>!</p>
      <% end %>
      <% if @game.state == Game::FORFEIT %>
        <% losing_player = User.find(@game.player_lose) %>
        <p><%= losing_player.name %> has forfeited the game!</p>
      <% end %>
    </div>

    <div id="CheckMessages">
      <% if @game.check?(true) %>
        <p>The white king is in check!</p>
      <% end %>
      <% if @game.check?(false) %>
        <p>The black king is in check!</p>
      <% end %>
    </div>

    <div id="turn">
      <% if @game.white_player_turn == true %>
        <p>The current turn belongs to: <%= @game.white_player.name %></p>
      <% end %>
      <% if @game.white_player_turn == false %>
        <p>The current turn belongs to: <%= @game.black_player.name %></p>
      <% end %>
    </div>
  </div>
    
  <div class="col-10 center offset-1">
    <table id="chessboard">
      <tbody>
        <% 8.downto(1).each do |row| %>                                     
          <tr> 
            <% 1.upto(8).each do |col| %>
              <td
                id=<%="#{col}#{row}"%>
                <% if (row + col).odd? %>
                  class="white"
                <% else %>
                  class="black"
                <% end %>
              >
                <% piece_image = @game.render_piece(col, row) %>
                <% if piece_image.present? %>

                 
                  <% piece = @game.get_piece_at_coor(col, row) %>
                    <%= link_to game_piece_path(@game, piece.id) do %>
                      <%= image_tag piece_image, :id => "piece", :data => {
                          :id => piece.id,
                          :type => piece.type,
                          :color => (piece.is_white ? "white" : "black"),
                          :x => piece.x_position,
                          :y => piece.y_position,
                          
                        }
                      %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>



    <br />
    <%= button_to "Go back to index of games", games_path, :method => :get, :class => "btn btn-success" %>        
    <br />

    <% if @game.state == Game::IN_PROGRESS && @game.black_player != nil %>
      <%= link_to "Forfeit Game", forfeit_game_path(@game), :class => "btn btn-danger", :method => :patch,  data: {confirm: "Are you sure? Forfeited games cannot be recovered."} %>
    <% end %> 
      


      
      
      

    
  

