<div class="container justify-content-center">
  <h1>Welcome to Game<%=@game.id%></h1>
</div>
<br>

<h1 class="text-center">The Pawnshop</h1>

  <div id="gameinfo">
    <div id="currentUser" data-current-user-id=<%= current_user.id %>>
      <p>You are logged in as <%= current_user.name %></p>
    </div>
    <div id="whitePlayer" data-user-white-id=<%= @game.white_player_id %>>
      <p><%= @game.white_player.name %> is playing as white.</p>
    </div>
    <div id="blackPlayer" data-user-black-id=<%= @game.black_player_id %>>
      <p><%= @game.black_player.name %> is playing as black.</p>
    </div>

    <div id="turn">
      <% if current_game.white_player_turn == true %>
        <p>The current turn belongs to: <%= current_game.white_player.name %></p>
      <% end %>
      <% if current_game.white_player_turn == false %>
        <p>The current turn belongs to: <%= current_game.black_player.name %></p>
      <% end %>
    </div>
  </div>
    
  <div class="col-10 center offset-1">
    <table id="chessboard">
      <tbody>
        <% 1.upto(8).each do |col| %>
          <tr>
            <% 8.downto(1).each do |row| %>
              <td
                id=<%="#{col}#{row}"%>
              <% if (col + row).odd? %> 
                class="black"
              <% else %>
                class="white"
              <% end %>
              >
                <% piece_image = @game.render_piece(row, col) %>
                <% if piece_image.present? %>

                 
                  <% piece = @game.get_piece_at_coor(row, col) %>
                    <%= link_to game_piece_path(current_game, piece.id) do %>
                      <%= image_tag piece_image, :id => "piece", :data => {
                          :id => piece.id,
                          :type => piece.type,
                          :color => (piece.is_white ? "white" : "black"),
                          :x => piece.x_position,
                          :y => piece.y_position,
                          
                        }
                      %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>



    <br />
    <%= button_to "Go back to index of games", games_path, :method => :get, :class => "btn btn-success" %>        
    <br />

    <% if current_user == @game.white_player || current_user == @game.black_player %>
      <%= link_to "Forfeit Game", forfeit_game_path(@game), :class => "btn btn-danger", :method => :patch,  data: {confirm: "Are you sure? Forfeited games cannot be recovered."} %>
    <% end %> 
      


      
      
      

    
  

